<ion-view title="撰写博客">
  <ion-nav-buttons side="right">
    <button class="button button-dark" ng-click="load()" ng-show="isLocalDraft()">
      载入草稿
    </button>
    <button class="button button-dark" ng-click="save()" ng-hide="isLocalDraft()">
      存为草稿
    </button>
    <span></span>
    <button class="button" ng-click="create()">
      发送
    </button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="create()">
      <div class="list">
        <ion-toggle ng-model="posts.status" toggle-class="toggle-calm">是否发表</ion-toggle>

        <label class="item item-input">
          <span class="input-label">Title</span>
          <input id="slug" type="text" placeholder="Write here" ng-model="posts.title">
        </label>

        <label class="item item-input">
          <span class="input-label">Slug</span>
          <input id="title" type="text" placeholder="Write here" ng-model="posts.slug">
        </label>

        <label class="item item-input">
          <span class="input-label">内容</span>
        </label>
        <label class="item item-input">
          <textarea id="content" msd-elastic="\n" rows="10" ng-model="posts.content" placeholder="Write here"></textarea>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
