<ion-view title="撰写博客">
  <ion-content>
    <form ng-submit="create()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="posts.title">
        </label>
        <label class="item item-input">
          <span class="input-label">内容</span>
          <textarea class="item item-input" ng-model="posts.content"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">创建</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
